# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project specific
outputs/figures/*
!outputs/figures/.gitkeep
outputs/models/*
!outputs/models/.gitkeep
data/raw/*
!data/raw/.gitkeep
